.cardSubtitle{
    display: flex;
    justify-content: space-between;
}

.cardTitle{
font-style: italic;
}

.font{
    font-family: 'Bowlby One SC', cursive;
    font-size: 1.2em;
    text-shadow: 3px 2px 2px rgb(77, 76, 76);
}